./InformationFlow/result/reasoning/combined/5/B/accuracy/Activation_example_start_0_end_10.pickle
./InformationFlow/result/reasoning/combined/5/B/accuracy/Activation_example_start_20_end_30.pickle
./InformationFlow/result/reasoning/combined/5/B/accuracy/Activation_example_start_10_end_20.pickle
./InformationFlow/result/reasoning/combined/5/B/accuracy/Activation_example_start_30_end_40.pickle
./InformationFlow/result/reasoning/combined/5/C/accuracy/Activation_example_start_0_end_10.pickle
./InformationFlow/result/reasoning/combined/5/C/accuracy/Activation_example_start_20_end_30.pickle
./InformationFlow/result/reasoning/combined/5/C/accuracy/Activation_example_start_10_end_20.pickle
./InformationFlow/result/reasoning/combined/5/C/accuracy/Activation_example_start_30_end_40.pickle
./InformationFlow/result/reasoning/combined/5/A/accuracy/Activation_example_start_0_end_10.pickle
./InformationFlow/result/reasoning/combined/5/A/accuracy/Activation_example_start_20_end_30.pickle
./InformationFlow/result/reasoning/combined/5/A/accuracy/Activation_example_start_10_end_20.pickle
./InformationFlow/result/reasoning/combined/5/A/accuracy/Activation_example_start_30_end_40.pickle
